html, body{
  width: 100%;
  height: 100%;
}
.bx-wrapper, .bx-viewport, .slider{
  width: 100%;
  height: 100%;
}
.banner {
  position: absolute;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  width: 99%;
  height: 15%;
  background: #404040;
  border-radius: 20px;
}
.banner-title {
    position: absolute;
    width: 336px;
    height: 78px;
    left: 34%;
    top: 20%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 18px;
    text-align: center;
    color: #FF98A8;
}
.banner-menu4 {
  position: absolute;
  width: 80px;
  height: 59px;
  left: 84%;
  top: 40%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 1px;

  display: flex;
  text-align: center;

  color: rgba(254, 252, 255, 0.89);
}
.banner-menu4 a:link,
.banner-menu4 a:visited {
  color: #ffffff;
  text-decoration: none;
}

.container_r {
    display: flex;
    flex-wrap: wrap;
    top: 61%;
    left: 28%;
    position: absolute;
    text-align: center;
    margin-left: -234px;
    margin-top: -109px;
    z-index: 20;
}

.container_l {
  display: flex;
  flex-wrap: wrap;
  top: 28%;
  left: 28%;
  position: absolute;
  text-align: center;
  margin-left: -234px;
  margin-top: -109px;
  z-index: 20;
}
.container_c {
  display: flex;
  flex-wrap: wrap;
  top: 23%;
  left: 28%;
  position: absolute;
  text-align: center;
  margin-left: -234px;
  margin-top: -109px;
  z-index: 20;
}
a {
  text-decoration: none; /* 밑줄 없애기 */
  color: black; /* 링크 색상 변경 */
}

.칸 {
    width: 399px;
    height: 334px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 28px;

    background: rgba(64, 64, 64, 0.04);
    border-radius: 40px;
}
  
.큰칸 {
  width: 859px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 28px;

  background: rgba(64, 64, 64, 0.04);
  border-radius: 40px;
}

.칸 img {
    width: 100px;
    height: 100px;
}
.큰칸 img {
    width: 100px;
    height: 100px;
}